#main {
  padding-top: 150px;
}

.container {
  padding-top: 150px;
}

.container-item {
  display: flex;
}
.directional {
  margin-bottom: 50px;
}
.directional span a {
  color: #7d7d7d;
}

.container-item .img .small_img img {
  width: 136px;
}

/*  */
.detail {
  margin-left: 50px;
}

.detail h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.price_detail {
  margin: 40px 0;
}

.new_price {
  font-size: 35px;
}

.btn_buy {
  display: flex;
  justify-content: space-between;
}

.btn_buy .buy {
  font-family: "Nunito";
  cursor: pointer;
  background: #ffb0bd;
  width: 240px;
  height: 48px;
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  margin-right: 15px;
}

/* Desc */
.desc {
  margin-top: 100px;
}

.desc h2 {
  font-size: 32px;
  margin-bottom: 22px;
}

.desc p {
  line-height: 30px;
  font-family: "Nunito";
}

/* related products */
.related {
  margin-top: 100px;
}

.related > h2 {
  font-size: 32px;
  margin-bottom: 22px;
}

.related .related-box {
  display: flex;
  flex-wrap: wrap;
}

/*  */
/* DropDown */
/* CSS cho dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown a {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #7d7d7d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#addToCartForm {
  display: flex;
  flex-direction: column;
}
.btn-buy {
  display: flex;
}
